mat-toolbar{
  padding: 15px;
  background-color: rgb(49, 49, 209);
  margin-top: 30px;
}

h1 {
  font-size: 35px;
  margin: 0 auto;
  color: white;
}

.logo{
  margin-top: -80px;
  margin-left: 4%;
}

.customers{
  width: 73%;
  float: right;
  margin: 15px 15px 15px 0px;
}

mat-form-field{
  margin-left: 35px;
  padding-left: 20px;
  width: 300px;
}

.parts-charge, .hours {
  width: 300px;
  padding-left: 75px;
  padding-top: 20px;
}

mat-card{
  background-color: #CFCFCF;
}

::ng-deep .mat-card{
  border: 1px solid black;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
  border-radius: 5px;
  color: darkgray;
}

.parts{
  width: 73%;
  background-color: #CFCFCF;
  margin: 15px 15px 15px 0;
  float: right;
}

.notes {
  width: 90%;
  padding-top: 20px;
}

.summary{
  width: 19%;
  float: left;
  margin-left: 15px;
  margin-top: -360px;
  height: 631px;
  background-color: #CFCFCF;
}

.summary-title{
  font-size: 18px;
}

.view {
  position: absolute;
  bottom: 10%;
  right: 34%;
}

.print{
  position: absolute;
  bottom: 3%;
  right: 34%;
}

.services{
  width: 75%;
  float: right;
  margin-right: 15px;
  background-color: #CFCFCF;
}

.service-list{
  column-count: 2;
  padding-left: 10%;
  font-size: 20px;
  padding: 10px;
  margin-left: 10%;
}

::ng-deep .mat-checkbox-label {
  margin: 10px;
}

::ng-deep .mat-checkbox-background {
  background-color: white;
  border: 1px solid darkgray;
}

button{
 margin-left: 75px;
}
